<div class="form-control">
  <%= f.label :role, class: 'label' %>
  <%= f.select :role, User::SELECTABLE_ROLES.map { |r| [t(r), r] }, { selected: f.object.role }, class: 'base-select' %>
  <label class="label">
    <span class="label-text-alt text-xs">
      <strong><%= t('admin') %>:</strong> Full access<br>
      <strong><%= t('editor') %>:</strong> Manage templates & submissions<br>
      <strong><%= t('viewer') %>:</strong> Read-only
    </span>
  </label>
</div>
