<% account = local_assigns[:account] || (@submitter&.account rescue nil) %>
<% if account&.logo&.attached? %>
  <a href="<%= root_path %>" class="mx-auto text-2xl md:text-3xl font-bold items-center flex space-x-3">
    <%= image_tag account.logo, class: 'w-9 h-9 md:w-12 md:h-12 object-contain' %>
    <span><%= account.name %></span>
  </a>
<% else %>
  <a href="<%= root_path %>" class="mx-auto text-2xl md:text-3xl font-bold items-center flex space-x-3">
    <%= render 'shared/logo', class: 'w-9 h-9 md:w-12 md:h-12' %>
    <span><%= Docuseal.product_name %></span>
  </a>
<% end %>
